
.navbaruser {
	margin-right:100px;
}

.divpos {
	margin-bottom: 10px;
	float: left;
    margin-right: 25px;
}

.headerextra {
	color: #3369DE;
	 text-align: center;
}

.btn-large-extra {
  padding: 11px 19px;
  font-size: 14.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.home {
	margin-left:1200px;
	margin-top:10px;'
}

.content-style {
	padding-top:50px;
	margin-left:15px;
}